<h1 >Form Handling</h1>
<!-- <br> -->
<!-- key down -->
<!-- <input type="text" placeholder="keyup event" #box1 (keyup)="getValue(box1.value)" /> -->

<!-- <br> -->
<!-- key up -->
<!-- <input type="text" placeholder="keydown event" #box2 (keydown)="getValue(box2.value)" /> -->

<!-- <br> -->
<!-- event blur -->
<!-- <input type="text" placeholder="blur event" #box3 (blur)="getValue(box3.value)"> -->

<!-- <br> -->
<!-- input -->
<!-- <input type="text" placeholder="input event" #box4 (input)="getValue(box4.value)" > -->

<!--Mouse hover -->
<!-- <h1 (mouseover)="getValue('Mouse hovered')">Angular</h1> -->
<!--Mouse Leave -->
<!-- <h1 (mouseleave)="getValue('Mouse leaved')">Angular17</h1> -->


<input type="text" name="username" id="uname" placeholder="enter username" #box1 >
<button (click)="getValue(box1.value)"  >print value</button><!-- accessing value -->
<button (click)="getValue(box1.id)"  >print id</button><!-- accessing id -->
<button (click)="getValue(box1.placeholder)"  >print placeholder</button><!-- accessing placeholder -->
<button (click)="getValue(box1.name)"  >print inputTag name</button><!-- accessing inputTag -->
<br>
<h3>box1 value: {{displayValue}}</h3>

<app-counter></app-counter>